.additional-products__header {
  font-family: @first_font;
  font-size: 24px;
  line-height: 24px;
  color: @black;
  font-weight: 400;
  text-align: center;

  @media (min-width: @tablet-width) {
    text-align: left;
    font-size: 36px;
    line-height: 36px;
    margin-top: 68px;
    margin-bottom: 80px;
  }
}

.additional-products__article {
  border-top: 1px solid @grey3;
  border-bottom: 1px solid @grey3;
  grid-template-rows: 1fr 1fr 1fr;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 19px;

  @media (min-width: @tablet-width) {
    padding: 38px 26px;
    grid-template-rows: 1fr 1fr;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid @grey3;
  }

  @media (min-width: @desktop-width) {
    border-top: 1px solid @grey3;
    border-bottom: 1px solid @grey3;
    border-left: none;
    border-right: none;
    grid-template-rows: 74px;
    display: grid;
    grid-template-columns: 324px 247px 80px 244px;
    padding: 0;
    margin-right: 80px;
  }
}

.additional-products__item {
  font-family: @first_font;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @black3;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.additional-products__weight {
  font-family: @second_font;
  font-size: 14px;
  line-height: 14px;
  color: @special-grey;
  grid-column-start: 1;

  @media (min-width: @tablet-width) {
    grid-column-start: 2;
    text-align: end;
  }

  @media (min-width: @desktop-width) {
    text-align: center;
  }
}

.additional-products__cost {
  font-family: @second_font;
  font-size: 14px;
  line-height: 14px;
  color: @special-grey;
  text-align: end;
}

.additional-products__link {
  font-family: @first_font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @white;
  background-color: @green-for-button;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 10px 109px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 0px;
    padding: 18px 277px;
    height: 40px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 4;
    width: 244px;
    font-size: 16px;
    line-height: 20px;
    padding: 8px 92px;
  }
}

.productsAndGift {
  @media (min-width: @desktop-width) {
    display: flex;
    margin: 0;
  }
}
