.additional-products__header {
  font-family: @first_font;
  font-size: 24px;
  line-height: 24px;
  color: @black;
}

.additional-products__item {
  font-family: @first_font;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @black3;
}

.additional-products__weight {
  font-family: @second_font;
  font-size: 14px;
  line-height: 14px;
  color: @special-grey;
}

.additional-products__cost {
  font-family: @second_font;
  font-size: 14px;
  line-height: 14px;
  color: @special-grey;
}

.additional-products__link {
  font-family: @first_font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @white;
  background-color: @green-for-button;
}
