.example {
  background-color: @grey2;
}

.example__header {
  font-family: @first_font;
  font-size: 36px;
  line-height: 40px;
  text-transform: none;
}

.example__description {
  font-family: @second_font;
  font-size: 14px;
  line-height: 18px;
  color: @special-grey;
}

.example__number {
  border: 1px solid @grey3;
  border-radius: 3px;
  font-family: @first_font;
  font-size: 12px;
  line-height: 12px;
  color: @special-grey;
  text-transform: uppercase;
  width: 124px;
  height: 64px;
  display: inline-block;
}

.example__img--fat {
  position: relative;
}

.example__img--slim {
  position: absolute;
  z-index: -1;
}


.example__position {
  font-family: @first_font;
  font-size: 24px;
  line-height: 24px;
}

.example__cost {
  font-family: @first_font;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: @mobile-width-only) {
    display: flex;
  }

  @media (min-width: @tablet-width) {
    display: inline-block;
  }

  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.example__result {
  font-family: @first_font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
