.gift {

  background-image: url("../img/gift-photo-mobile.png");
  width: 280px;
  height: 289px;
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    background-image: url("../img/gift-photo-tablet.png");
    width: 708px;
    height: 200px;
    background-repeat: no-repeat;
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/gift-photo-desktop.png");
    background-repeat: no-repeat;
    width: 280px;
    height: 289px;
  }
}

.gift__promo {
  font-family: @second_font;
  font-size: 16px;
  line-height: 20px;
  color: @white;
  position: relative;
}

.gift__promo::before {
  content: "";
  position: absolute;
  background-image: url("../img/gift.svg");
  background-repeat: no-repeat;
  width: 78px;
  height: 80px;
}
