.instruction {
  background-color: @white;
}

.instruction__header {
  font-family: @first_font;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
}

.instruction__list {
  list-style: none;
  padding: 0;
}

.instruction__item {
  font-family: @second_font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: @special-grey;
}
