.instruction {
  background-color: @white;
  margin-left: 0;
  margin-bottom: 60px;

  @media (min-width: @tablet-width) {
    height: 770px;
    margin-bottom: -2px;
  }

  @media (min-width: @desktop-width) {
    height: 424px;
  }
}

.instruction__header {
  margin-top: 27px;
  font-weight: normal;
  font-family: @first_font;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    font-size: 60px;
    line-height: 60px;
    margin-top: 68px;
    margin-bottom: 18px;
  }
}

.instruction__wrapper {
  height: 300px;
}

.instruction__list {
  list-style: none;
  padding-left: 0;
  padding-top: 2px;
}

@media (min-width: @tablet-width) {
  .instruction__list {
    display: grid;
    grid-template-columns: 230px 246px;
    row-gap: 18px;
    column-gap: 153px;
    padding-top: 16px;
  }

  @media (min-width: @desktop-width) {
    .instruction__list {
      grid-template-columns: 230px 246px 1fr 1fr;
      gap: 96px;
    }
  }
}

.instruction__item {
  font-family: @second_font;
  font-size: 14px;
  line-height: 18px;
  color: @special-grey;
  position: relative;
  margin-bottom: 20px;
  // width: 256px;
  height: 60px;
  padding-left: 80px;

  @media (min-width: @tablet-width){
    padding-top: 153px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding-left: 0;
  }
}

.instruction__item--leaf {
  background-image: url("/img/leaf.png");
  background-repeat: no-repeat;


  @media (min-width: @tablet-width) {
   background-image: url(/img/one.png);
   background-repeat: no-repeat;
   height: 280px;
   /* width: 230px; */
   padding-top: 153px;
   /* padding-right: 29px; */
   /* text-align: inherit; */
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 24px;
   padding-left: 2px;
  }
}

.instruction__item--tub {
  background-image: url("/img/tub.png");
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    background-image: url("/img/two.png");
    background-repeat: no-repeat;
    height: 280px;
    width: 246px;
    padding-top: 151px;
    text-align: inherit;
  }
}

.instruction__item--eat {

  background-image: url("/img/eat.png");
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    background-image: url("/img/three.png");
    background-repeat: no-repeat;
    height: 280px;
    width: 247px;
    padding-top: 151px;
    text-align: inherit;
  }

  @media (min-width: @desktop-width){
    margin-left: -19px;
    display: block;
  }
}

.instruction__item--alarm {

  background-image: url("/img/clock.png");
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    background-image: url("/img/four.png");
    background-repeat: no-repeat;
    height: 280px;
    width: 249px;
    padding-top: 151px;
    text-align: inherit;
  }

  @media (min-width: @desktop-width){
    display: block;
    margin-left: -17px;
  }
}
