.instruction {
  background-color: @white;
}

.instruction__header {
  font-family: @first_font;
  font-size: 36px;
  line-height: 40px;
}

.instruction__list {
  list-style: none;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .instruction__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    .instruction__list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}

.instruction__item {
  font-family: @second_font;
  font-size: 14px;
  line-height: 18px;
  color: @special-grey;
  position: relative;
  margin-bottom: 20px;
}

.instruction__item--leaf::before {
  content: "";
  position: absolute;
  background-image: url("/img/leaf.png");
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
}

.instruction__item--tub::before {
  content: "";
  position: absolute;
  background-image: url("/img/tub.png");
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
}

.instruction__item--eat::before {
  content: "";
  position: absolute;
  background-image: url("/img/eat.png");
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
}

.instruction__item--alarm::before {
  content: "";
  position: absolute;
  background-image: url("/img/clock.png");
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
}
