.page-header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
  min-height: 66px;
}

.page-header__logo {
  text-decoration: none;
  color: @black;
  height: 66px;
}

.page-header__logo-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 66px;
}

@media (min-width: @tablet-width) {
  .page-header__logo {
    height: 76px;
  }

  .page-header__logo-text {
    height: 76px;
  }
}


@media (min-width: @desktop-width) {
  .page-header__logo {
    height: 112px;
  }

  .page-header__logo-text {
    height: 112px;
  }
}

.page-header__button {
  position: relative;
  width: 24px;
  height: 18px;
  border: none;
  appearance: none;
  cursor: pointer;
  background-color: transparent;
}

.page-header__button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: @black3;
  box-shadow: 0 8px 0 0 @black3, 0 16px 0 0 @black3;
}

.main-nav__list {
  font-family: @first_font;
  font-weight: 500;
  size: 20px;
  line-height: 20px;
  list-style: none;
  color: @black;
  text-transform: uppercase;
  width: 320px;
  margin: 0;
  padding: 0;
}

.main-nav__link {
  color: @black;
}

@media (min-width: @tablet-width) {
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: 709px;
    margin: 0 auto;
  }

  .main-nav__list {
    width: 440px;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__list {
    width: 478px;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__wrapper {
    width: 1220px;
  }
}
