.programs {
  background-color: @white;
  padding-top: 17px;

  @media (min-width: @tablet-width) {
    margin-top: 0;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 570px 570px;
    column-gap: 80px;
    margin-left: 0;
    margin-top: 64px;
  }
}


.programs__wrapper {
  height: 266px;
  padding-left: 20px;
  padding-right: 33px;
  background-color: @grey4;
  padding-top: 21px;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    height: 372px;
    padding-top: 77px;
    margin-bottom: 45px;
    padding-left: 52px;
  }

  @media (min-width: @desktop-width) {
    height: 374px;
    margin-bottom: 0;
    padding-top: 41px;
  }
}

.programs__wrapper--mass{
  @media (min-width: @desktop-width){
    padding: 0;
    margin: 0;
  }
}

.programs__img {
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: top;
  @media (min-width: @tablet-width) {
    background-position-x: right;
  }

  @media (min-width: @desktop-width) {
    background-position-x: left;
  }
}

.programs__img--slim {
  background-image: url("../img/slim.png");
  // height: 53px;
  @media (min-width: @tablet-width) {
    background-image: url("/img/cat_back.png");
    height: 211px;
    background-position: 393px 4px;
  }
  @media (min-width: @desktop-width) {
    background-image: url("/img/cat_back_desktop.png");
    background-position: 0 0;
    // height: 106px;
  }
}

.programs__img--mass {
  // background-repeat: no-repeat;
  background-image: url("/img/mass.png");
  background-position-x: 0px;
  background-position-y: 5px;
  // height: 50px;
  // background-position: left;

  @media (min-width: @tablet-width) {
    background-image: url("/img/cat_mass.png");
    // background-repeat: no-repeat;
    height: 210px;
    background-position-x: 360px;
    background-position-y: 14px;
    width: 688px;
  }

  @media (min-width: @desktop-width) {
    background-image: url("/img/cat_mass_desktop.png");
    background-position: 33px -28px;
    // background-repeat: no-repeat;
    // height: 100px;
    // background-position-x: left;
    // background-position-y: top;
  }
}

.programs__title {
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 10px;
  font-family: @first_font;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: @black;
}

.programs__description {
  font-family: @second_font;
  font-size: 14px;
  line-height: 18px;
  color: @special-grey;
  border-bottom: 1px solid @grey;
  padding-bottom: 23px;

  @media (min-width: @tablet-width) {
    width: 340px;
    height: 96px;
    border-bottom: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding-top: 8px;
  }

  @media (min-width: @desktop-width) {
    width: 467px;
    height: 72px;
    text-align: left;
    padding-top: 56px;
  }
}

.programs__description--mass{
  @media (min-width: @tablet-width){
  padding-top: 8px;
  }

  @media (min-width: @desktop-width){
    padding-top: 57px;
    padding-left: 56px;
  }
}

.programs__link {
  font-family: @first_font;
  font-size: 16px;
  text-transform: uppercase;
  color: @black;
  background-image: url("/img/arrow.png");
  background-repeat: no-repeat;
  display: block;
  background-position: center;


  @media (min-width: @tablet-width) {
    background-position: 132px 6px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 33px;
  }
}

.programs__link--mass{
  @media (min-width: @tablet-width){
    background-position: 129px 7px;
  }

  @media (min-width: @desktop-width){
    background-position: 129px 8px;
    display: block;
    margin-top: 0px;
    margin-left: 53px;
  }
}

.programs__title--slim {
  text-align: center;
  padding-left: 22px;

  @media (min-width: @tablet-width) {
    text-align: start;
    font-size: 36px;
    font-weight: 400;
    padding: 0;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    text-align: center;
    padding-top: 35px;
  }
}

.programs__title--mass {
  text-align: center;
  padding-left: 60px;

  @media (min-width: @tablet-width) {
    text-align: start;
    font-size: 36px;
    font-weight: 400;
    padding: 0;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
   margin-left: -52px;
    margin-top: 75px;
    text-align: center;
 }
}
