.selection__header {
  font-size: 36px;
  line-height: 36px;
  color: @black;
}

.selection__description {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.selection__form {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @special-grey;
}

@media (min-width: @desktop-width) {
  .selection__form--contact {
    display: inline;
  }
}


.selection__list {
  list-style: none;
  padding: 0;
  border: 1px solid @color1;
}

.selection__item {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @black3;
}

.selection__products {
  list-style: none;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}


.selection__header--contacts {
  font-size: 24px;
  line-height: 26px;
  color: @black;
}

.selection__input {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @special-grey;
}

.selection__button {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @white;
  background-color: @green-for-button;
}

.selection__required {
  font-family: @second_font;
  font-size: 14px;
  line-height: 16px;
  color: @black;
}
